body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fa{
	transform: translateY(10%);
	cursor: pointer;
}

.stripe{
  float: left;
}

button{
  border: hidden;
  outline: none;
  cursor: pointer;
}

button:focus{
  box-shadow:none;
  border: none;
  outline:none !important;
}

.item:hover{
  background-color: grey;
}

.mydrop{
  transform: translateX(-30%);
  display:inline-block;
  white-space: nowrap;
  margin-left: auto;
  text-align: left;

}

.test{
  /*visibility-sensor-props: { partialVisibility: true, offset: { bottom: 50 } }
*/}